body,html{
    margin: 0;
}

footer{
    margin: 0;
    background-color: #074a71;
    height: 12vh;
    display: flex;
    justify-content: center;
    color: aliceblue;
    
}

span{
    color: whitesmoke;
    margin-right: 10px;
}